@import "../../design/devices.module.scss";

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 45% 45%;
  gap: 10%;
  @include handheld {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
