$darkGray: #555555;
$almostWhite: #f5f5f5;

.name {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: "Bungee Hairline", cursive;
}
.image {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  margin-right: 30px;
}
.description,
.platform {
  font-size: 1.2rem;
  margin: 0 0 10px;
}
.platform {
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background: linear-gradient(to bottom right, $darkGray, $almostWhite);
  border: 2px black double;
  padding: 20px 30px;
  max-width: 600px;
}