@import "../../design/colors.module.scss";
@import "../../design/devices.module.scss";

.name {
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 150px;
  width: 150px;
  margin-right: 30px;
  border: 2px $border-color dotted;
  @include handheld {
    align-self: center;
    margin: 0;
  }
}
.description,
.platform {
  font-size: 1.2rem;
  margin: 0 0 10px;
}

.info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  @include handheld {
    margin: 20px 0 0;
    flex-direction: column;
  }
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container {
  background: linear-gradient(
    to top left,
    $dark-gray,
    lighten($dark-gray, 20%)
  );
  border: 2px $border-color double;
  padding: 20px 30px;
  color: $text-color;
  @include handheld {
    text-align: center;
    width: 100%;
  }
  @include stationary {
    width: 600px;
  }
}
