@import "../../design/colors.module.scss";
@import "../../design/devices.module.scss";

.voteBar {
  display: flex;
  align-items: center;
  @include handheld {
    width: 100%;
    justify-content: space-around;
  }
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 0;
  color: $text-color;
  transition: 0.3s ease-in-out;

  &:hover {
    outline: none;
    transform: rotate(20deg) scale(1.35);
  }
}

.label {
  margin-right: 10px;
  font-size: 0.8em;
}

.upvote:hover {
  color: green;
}

.downvote:hover {
  color: red;
}

.onlyDesktop {
  @include handheld {
    display: none;
  }
}