@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Spice&family=Press+Start+2P&display=swap');

.app {
    padding: 1em 3em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}
