@import "./design/colors.module.scss";

.app {
  padding: 1em 3em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

.appContainer {
  background: linear-gradient(
    to top left,
    $background-primary,
    lighten($background-primary, 20%)
  );
  min-height: 100vh;
  margin: 40px 0 40px;
}
