.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.streamer {
  background-color: #f5f5f5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  max-width: 700px;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
  }
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.4s;
  &:hover {
    color: darken(white, 20%);
  }
}

.link {
  color: black;
  text-decoration: none;
}
