@import "../../design/colors.module.scss";

@mixin spinner-dot-animation($count, $delay) {
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      animation-delay: $delay * ($i - 1);
    }
  }
}

.spinner {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 20px 0 20px;
  width: 100%;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: $dark-gray;
  border-radius: 50%;
  animation: animation 1.5s infinite ease-in-out both;
  @include spinner-dot-animation(3, 0.3s);
}

@keyframes animation {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
