@import "../../design/colors.module.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background-color: $middle-gray;
  text-align: left;
  color: $text-color;
}

.label {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.input,
.select,
.textarea {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  width: 100%;
  margin-top: 5px;
  transition: 0.2s;
  width: 70%;
  &:focus {
    border: 2px solid $border-color;
  }
}

.textarea {
  height: 150px;
  resize: vertical;
}

.submit {
  padding: 10px;
  border: 1px $border-color solid;
  border-radius: 5px;
  font-size: 16px;
  color: $text-color;
  background-color: $dark-gray;
  cursor: pointer;
  transition: 0.2s;
  &:hover,
  &:focus {
    background-color: middle-gray;
  }
}

.platformLabel {
  background-color: darken($middle-gray, 10%);
}
